{
  "extends": [
    "standard",
    "prettier-standard"
  ],
  "plugins": [
    "ramda"
  ],
  "parser": "babel-eslint",
  "rules": {
    "prefer-template": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120
      }
    ],
    "no-var": "error",
    "prefer-const": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/default": "error",
    "import/export": "error",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "off",
    "import/no-duplicates": "warn",
    "import/order": "error",
    "ramda/always-simplification": "error",
    "ramda/any-pass-simplification": "error",
    "ramda/both-simplification": "error",
    "ramda/complement-simplification": "error",
    "ramda/compose-pipe-style": "off",
    "ramda/compose-simplification": "error",
    "ramda/cond-simplification": "error",
    "ramda/either-simplification": "error",
    "ramda/eq-by-simplification": "error",
    "ramda/filter-simplification": "error",
    "ramda/if-else-simplification": "error",
    "ramda/map-simplification": "error",
    "ramda/merge-simplification": "error",
    "ramda/no-redundant-and": "error",
    "ramda/no-redundant-not": "error",
    "ramda/no-redundant-or": "error",
    "ramda/pipe-simplification": "error",
    "ramda/prefer-both-either": "error",
    "ramda/prefer-complement": "error",
    "ramda/prefer-ramda-boolean": "error",
    "ramda/prop-satisfies-simplification": "error",
    "ramda/reduce-simplification": "error",
    "ramda/reject-simplification": "error",
    "ramda/set-simplification": "error",
    "ramda/unless-simplification": "error",
    "ramda/when-simplification": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ]
      }
    }
  }
}